body {
  margin: 0;
  background: #fafafa;
  font-family: Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
